<!DOCTYPE html>
<html class='use-all-space'>

<head>
    <title>Map</title>
    <link rel='stylesheet' type='text/css' href='sdk/map.css' />
    <link rel='stylesheet' type='text/css' href='elements.css' />
    <script type='text/javascript' src='form.js'></script>
    <script type='text/javascript' src='sdk/tomtom.min.js'></script>
    <style>
        label {
            display: flex;
            align-items: center;
            margin: 2px;
        }
        
        select {
            flex: auto;
            margin-left: 10px;
        }
    </style>
</head>

<body class='use-all-space'>
    <div id='map' class='use-all-space'></div>
    <script>
        // Define your product name and version
        tomtom.setProductInfo('OMW', 'V1');

        // Setting TomTomkeys
        tomtom.routingKey('VQOVbt49nO29ANmuQgvS73U6tOUGecoG');
        tomtom.searchKey('VQOVbt49nO29ANmuQgvS73U6tOUGecoG');

        // Creating the map
        var map = tomtom.L.map('map', {
            key: 'VQOVbt49nO29ANmuQgvS73U6tOUGecoG',
            source: 'vector',
            basePath: '/sdk'
        });

        //Zoom in and out with buttons on the top right
        map.zoomControl.setPosition('topright');

        // Creating routeOnMap widget
        var routeOnMapView = tomtom.routeOnMap({
            //make the icons movable
            generalMarker: {
                draggable: true
            },
            //make start icon
            startMarker: {
                icon: tomtom.L.icon({
                    iconUrl: 'sdk/images/start-black.png',
                    iconSize: [30, 30],
                    iconAnchor: [15, 15]
                })
            },
            //make end icon
            endMarker: {
                icon: tomtom.L.icon({
                    iconUrl: 'sdk/images/end-black.png',
                    iconSize: [30, 30],
                    iconAnchor: [15, 15]
                })
            }
        }).addTo(map);

        //create a searchBox for start location
        var startLocation = tomtom.searchBox({
            collapsible: false,
            icon: 'icon-start-black',
            searchOnDragEnd: 'open',
            location: true
        }).addTo(map);

        //create a searchBox for end location
        var endLocation = tomtom.searchBox({
            collapsible: false,
            icon: 'icon-end-black',
            searchOnDragEnd: 'open'
        }).addTo(map);

        // Update the searchbox widget content when the markers are dragged
        routeOnMapView.on(routeOnMapView.Events.MarkerDragEnd, function(result) {
            var searchBox = result.markerIndex === 0 ? startLocation : endLocation;
            searchBox.setResultData(result.object);
        });

        // The next lines update the route when the user change the start and end route points using the searchbox widget
        var locationsList = [];

        function updateRoute() {
            routeOnMapView.draw(locationsList);
        }

        function updateRouteStart(pos) {
            locationsList[0] = pos;
            updateRoute();
        }

        function updateRouteEnd(pos) {
            locationsList[1] = pos;
            updateRoute();
        }

        startLocation.on(startLocation.Events.ResultClicked, function(event) {
            updateRouteStart(event.data.position);
        });

        endLocation.on(endLocation.Events.ResultClicked, function(event) {
            updateRouteEnd(event.data.position);
        });

        startLocation.on(startLocation.Events.ClearButtonClicked, function() {
            updateRouteStart();
        });

        endLocation.on(endLocation.Events.ClearButtonClicked, function() {
            updateRouteEnd();
        });
    </script>
</body>

</html>