html
    head
        title='Map'
        link(rel='stylesheet', type='text/css', href='css/mapStyle.css')
        link(rel='stylesheet', type='text/css', href='sdk/map.css')
        link(rel='stylesheet', type='text/css', href='elements.css')
        script(type='text/javascript', src='form.js', defer)
        script(type='text/javascript', src='sdk/tomtom.min.js', defer)
        script(type='text/javascript', src='../scripts/mapController.js', defer)
        script(type='text/javascript', src='../scripts/scooterController.js', defer)
    body(class='use-all-space')
        div(id='info_panel')
            button(id='scooter_button')="Find Scooters"
            div(id='scooter_info')
                p boop boop
        div(id='map', class='use-all-space')
        div(id='scooter_button')