html
    head
        title='Map'
        link(rel='stylesheet', type='text/css', href='css/mapStyle.css')
        link(rel='stylesheet', type='text/css', href='sdk/map.css')
        link(rel='stylesheet', type='text/css', href='elements.css')
        script(type='text/javascript', src='form.js', defer)
        script(type='text/javascript', src='sdk/tomtom.min.js', defer)
        script(type='text/javascript', src='../scripts/mapController.js', defer)
        script(type='text/javascript', src='../scripts/scooterController.js', defer)
        script(type='text/javascript', src='../scripts/distanceCalculator.js', defer)
    body(class='use-all-space')
        div(id='info_panel')
            button(id='scooter_button')="Find Scooters"
            form(method="get" action="/")
                button(type="submit" value="Back Home")="Back Home"
            table(id='scooter_table')
        div(id='map', class='use-all-space')
        div(id='scooter_button')