html
    head
        title="Rides Now"
        script(src="./app.js")
        link(href="/css/rideNow.css", rel="stylesheet", type="text/css")
    body
        div(class="navigationBox")
            ul(class="nav")
                li
                    a(href="/")
                        h1 OnMyWay
                li
                    a(href="/ridesNow")="Rides Now"
                li
                    a(href="/uta")="UTA"
        div(class="image")
            img(src='https://www.rideuta.com/-/media/Images/Rider-Info/How-To-Ride/how_to_ride_trax_vehicle.ashx?h=233&w=350&hash=F9BCD8D09941A3ACF8E7C1D09AAB2E80122B1B05&la=en')  
        div(class="utaLink")
            a(id='uta' href="https://www.rideuta.com/")="UTA"
            