html {

}

#info_panel {
    width: 300px;
    height: 400px;
    position: absolute;
    bottom: 0;
    left: 0;    
    overflow-y: scroll;
    background-color: #ffffff;
    z-index: 100000;
    list-style-type: none;
}

#scooter_table {
    border-collapse: collapse;
    width: 100%;
}

#scooter_table th, #scooter_table td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}



/* #scooter_table tr:nth-child(even) {
    background-color: #f2f2f2;
} */