html{
    background-color: floralwhite;
}
.nav {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    color: white;
}
.nav li{
    background-color: #9FD4F3;
    padding: 10px 10px 10px 10px;
    border: 2px solid white;
}
img{
    width: 100%;
}
a:link {
    color: white;
}
a:visited {
    color: white;
}
a:hover {
    color: rgb(18, 18, 194);
}

.selectingWays a:link{
    color: black;
    font-size: 25px;
}

.selectingWays a:visited{
    color: rgb(68, 68, 68);
    font-size: 25px;
}
.utaLink a:link{
    color: black;
    font-size: 25px;
}
.utaLink a:visited{
    color: rgb(68, 68, 68);
    font-size: 25px;
}

li{
    list-style-type: none;
    padding: 10px 10px 10px 10px;
    color: black;
    font-size: large;
    align-content: center;
    align-items: center;
}
#uta{
    padding: 10px 10px 10px 10px;
    color: black;
    font-size: 25px;
    margin-top: 20px;
}